text
{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

table.header
{
	width: 100%;
	background-color: black;
	padding: 10px;
}

img.himg
{
	border-style: outset;
}

text.htext
{
	font-size: 45px;
	color: white;
	font-weignt: bold;
}

div.title
{
	height: 100px;
	width: 100%;
	padding-top: 20px;
	border-bottom-style: double;
}

table.titleTable
{
	width: 100%;
}

text.tname
{
	font-size: 45px;
	font-weight: bold;
}

div.tbar
{
	height: 10px;
	width: 350px;
	background: transparent;
}

div.redbar
{
	float: left;
	height: 10px;
	background: red;
}

div.greenbar
{
	float: right;
	height: 10px;
	background:green;
}

div.ticon
{
	background-image: url('webclient/resources/comments.png');
	height: 100px;
	width: 100px;
	margin: 0;
	text-align: center;
	line-height: 90px;
}

table.itemTable
{
	padding-top: 10px;
	width: 100%;
}

div.itemBar
{
	width: 20px;
	height: 50px;
	background: #176411;
}
