@import "mixins.less";

.wrapper {
	table-layout: fixed;
	
	margin: 0;
}

.food-rating {
	width: 20px;
	height: 20px;
	
	border: 1px solid;
	margin: 0 auto;
	
	.border-radius(10px);
}

.ic-upvote, .ic-downvote {
	width: 0;
	height: 0;
	
	background: none;
	padding: 0;
	border: 10px transparent solid;
}

.ic-upvote {
	margin: 0 0 0.5em 1px;
	border-bottom: 10px #c30000 solid;
}

.ic-downvote {
	margin: 0.5em 0 0 0;
	border-top: 10px #00c30e solid;
}

.ic-upvote.hori {
	margin: -0.3em 0 0;
}

.ic-downvote.hori {
	margin: 0.4em 0 0;
}

.ic-up, .ic-down {
	display: inline-block;
	vertical-align: text-bottom;
	
	width: 15px;
	height: 15px;
}

.ic-up {
	background: url("../images/ic-up.png");
}

.ic-down {
	background: url("../images/ic-down.png");
	
	margin: 0 0 0 1.5em;
}

.allergy-list {
	vertical-align: middle;
	
	.allergy {
		background: #c27f20;
		color: #fff;
		font-size: 8px;
		width: 2.2em;
		height: 2.2em;
		padding: 0 0 0 0.8em;
		margin: 0 0 0 1em;
		
		.border-radius(1.1em);
	}
	
	.allergy:first-child {
		margin-left: 0;
	}
}

.today-menu {
	width: 75%;
	
	overflow: scroll;
	
	padding: 1em 1.5em 1em 1em;
	
	.section-title {
		font-size: 48px;
	}
	
	.current-date {
		color: #999;
		font-size: 20px;
		vertical-align: middle;
		
		padding: 0 0 0 2.5em;
	}
	
	.caterer-name {
		color: #aaa;
		font-size: 32px;
		padding: 0.4em 0 0 3em;
	}
	
	.menu-info {
		width: 100%;
	}
	
	.category {
		width: 33%;
		
		.category-name {
			vertical-align: middle;
			
			color: #444;
			font-size: 30px;
			
			padding: 0 0 0 0.6em;
		}
		
		.category-items {
			margin: 0 0 0 0.5em;
			
			.category-item {
				vertical-align: top;
				
				.item-name {
					font-size: 18px;
					
				}
				
				.votes-bar {
					font-size: 11px;
					
					margin: 0.5em 1em 0 0;
				}
				
				.num-upvotes {
					color: #00c30e;
				}
				
				.num-downvotes {
					color: #c30000;
				}
			}
		}
	}
	
	.comment-list {
		.list-title {
			color: #333;
			font-size: 36px;
			margin: 0 0 0.3em 0;
		}
		
		.num-comments {
			color: #888;
			font-size: 16px;
			
			vertical-align: text-bottom;
			
			padding: 0 0 0 2em;
		}
		
		.comment-item {
			.comment-author {
				font-size: 12px;
				
				.highlight {
					color: #2fa229;
				}
			}
			
			.comment-date {
				color: #aaa;
				font-size: 10px;
				margin: 0.3em 0 0 1.2em;
			}
			
			.comment-body {
				color: #333;
				font-size: 11px;
				margin: 1em 0 0 0.5em;
			}
			
			.divider {
				margin-top: 1em;
			}
		}
	}
}

.weekly-menu {
	min-width: 28em;
	width: 25%;
	
	overflow: scroll;
	
	padding: 0 0 0 1.5em;
	
	.weekly-navigation {
		position: relative;
		
		.week-title {
			vertical-align: middle;
			color: #333;
			font-size: 32px;
		}
		
		.week-date {
			vertical-align: middle;
			color: #258a20;
			font-size: 14px;
			
			padding: 0.25em 0 0 1.3em;
		}
		
		.week-change-btn {
			position: absolute;
			top: 1em;
			right: 0.2em;
		}
	}
	
	.menu-item {
		padding: 1em;
		border: 1px #999 solid;
		border-radius: 20px;
		margin: 0.8em;
		
		.menu-header {
			.menu-date {
				color: #222;
				font-size: 20px;
			}
			
			.menu-date .subdued {
				color: #aaa;
			}
			
			.caterer-name {
				color: #aaa;
				font-size: 14px;
			}
		}
			
		.category-name {
			color: #7fa3cb;
			font-size: 20px;
			
			margin: 0 0 0.4em;
		}
	}
}
