@import "mixins.less";

html, body, p, h1, h2, h3, h4, h5, h6, div, section, article, ul, ol, li {
	vertical-align: baseline;
	padding: 0;
	border: none;
	margin: 0;
	
	.box-sizing();
}

h1, h2, h3, h4, h5, h6 {
	font-weight: none;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	font-color: black;
}
