@*
 * Author: Terry Lei (hlei@linkedin.com)
 *@

@()

@main("Weekly Menu") {
	<section class="wrapper wide tall">
		<section class="today-menu">
			<h1 class="section-title">Today's Menu<span class="current-date">Monday, February 20</span></h1>
			<div data-tid="centerMenu">
				<nav data-tid="menuTypeNav" class="today-navigation clearfix wide"></nav>
				<hr class="divider" />
				<ul data-tid="menuTypeList" class="clearfix wide"></ul>
			</div>
		</section>
		<section class="weekly-menu">
			<nav class="weekly-navigation">
				<h1 data-tid="weekTitle" class="week-title">This Week</h1>
				<h2 data-tid="dateRange" class="week-date">20/2/2013 - 27/2/2013</h2>
				<input data-tid="weekChangeBtn" type="button" class="week-change-btn btn btn-info" value="Next Week" />
			</nav>
			<ul data-tid="weeklyMenuList" class="menu-items clearfix">
			</ul>
		</section>
	</section>
} {
	<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/libs/page-flipper.css")'>
	<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main-page.css")'>
} {
	<script id="tCommentItem" type="text/template">
		<li class="comment-item">
			<hr class="divider" />
			<h1 class="comment-author">Posted by: <span data-tid="authorName" class="highlight">Bob</span></h1>
			<span data-tid="postDate" class="comment-date">20/10/2013</span>
			<p data-tid="commentBody" class="comment-body">This is such an awesome caterer!!! More plx!</p>
		</li>
	</script>
	
	<script id="tCenterMenuTypeBtn" type="text/template">
		<div class="category-info inset-block float-left">
			<header class="table">
				<img data-tid="categoryIcon" class="category-icon cell" src='@routes.Assets.at("images/ic-cater.png")' />
				<div class="cell">
					<h2 data-tid="categoryName" class="category-name wide"></h2>
					<h3 class="caterer-name wide">
						<p data-tid="catererName"></span>
						<p data-tid="catererType" class="subdued"></span>
					</h2>
					<div data-tid="likeBar"></div>
				</div>
			</header>
		</div>
	</script>
	
	<script id="tCenterMenuType" type="text/template">
		<li class="category float-left">
			<div class="">
				<ul data-tid="foodList" class="category-items"></ul>
				<hr class="divider" />
				<section class="comment-list">
					<header>
						<h1 class="list-title">Comments
							<span class="num-comments">(<span data-tid="commentCount">40</span> comments)</span>
						</h1>
					</header>
					<form data-tid="commentForm" class="wide clearfix">
						<textarea class="input-field wide" placeholder="Enter your comment here:"></textarea>
						<input type="submit" class="btn float-right top-margin" value="Comment" />
					</form>
					<ul data-tid="commentList" class="comment-list">
					</ul>
				</section>
			</div>
		</li>
	</script>
	
	<script id="tCenterFoodItem" type="text/template">
		<li class="category-item">
			<hr class="divider" />
			<div class="table wide">
				<div class="cell">
					<input data-tid="upvoteBtn" type="button" class="img-button ic-upvote" />
					<div data-tid="ratingBall" class="food-rating"></div>
					<input data-tid="downvoteBtn" type="button" class="img-button ic-downvote" />
				</div>
				<div class="cell wide left-spacing top-spacing">
					<p data-tid="foodName" class="item-name">Steamed Mixed Veggies</p>
					<div data-tid="review" class="votes-bar float-left clearfix">
						<div class="num-upvotes float-left">
							<div class="icon ic-up"></div>
							<label data-tid="numUpVotes" class="note">400</label>
						</div>
						<div class="num-downvotes float-left">
							<div class="icon ic-down"></div>
							<label data-tid="numDownVotes" class="note">120</label>
						</div>
					</div>
				</div>
				<div class="cell top-spacing allergy-box">
					<ul data-tid="allergyList" class="allergy-list">
					</ul>
				</div>
			</div>
			<hr class="divider" />
		</li>
	</script>
	
	<script id="tSideMenuItem" type="text/template">
		<li class="menu-item inset-block">
			<header class="menu-header">
				<h1 class="menu-date"><span data-tid="day"></span><span data-tid="date" class="subdued left-spacing"></span></h1>
			</header>
			<hr class="divider" />
			<div class="clearfix">
				<input type="button" data-tid="categoryCater" class="btn float-left right-margin" value="Catering" />
				<input type="button" data-tid="categoryIndian" class="btn float-left right-margin" value="Indian" />
				<input type="button" data-tid="categoryVege" class="btn float-left right-margin" value="Vegetarian" />
			</div>
			<ul data-tid="foodTypeList" class="category-list"></ul>
		</li>
	</script>

	<script id="tSideFoodList" type="text/template">
		<li class="category-item">
			<h4 class="caterer-name"><span data-tid="catererName"></span><span data-tid="catererType" class="subdued float-right"></span></h2>
			<div class="caterer-info clearfix">
				<div data-tid="likeBar" class="float-left"></div>
				<a data-tid="commentLink" href="" class="fake-link"><span data-tid="numComments">10</span> comments</a>
			</div>
			<ul data-tid="foodList" class="food-list">
				<li data-tid="foodItemTemplate" class="food-item table">
					<div class="cell">
						<div data-tid="ratingBall" class="food-rating"></div>
					</div>
					<div class="cell wide left-spacing">
						<p data-tid="foodName"></p>
					</div>
					<ul data-tid="allergyList" class="cell allergy-list">
						<li class="allergy"><span>V</span></li>
					</ul>
					<nav class="cell nowrap clearfix left-spacing">
						<input data-tid="upvoteBtn" type="button" class="img-button ic-upvote inline-block" />
						<input data-tid="downvoteBtn" type="button" class="img-button ic-downvote inline-block" />
					</nav>
				</li>
			</ul>
		</li>
	</script>
	
	<script src='@routes.Assets.at("javascripts/libs/jquery-ui-1.10.0.min.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/libs/page-flipper.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/views/todayCommentItems.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/views/weeklyMenuItem.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/views/weeklyMenu.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/views/todayFoodItems.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/views/todayMenuCategories.js")' type="text/javascript"></script>
	<script src='@routes.Assets.at("javascripts/eatin.js")' type="text/javascript"></script>
}
