@*
 * Author: Terry Lei (hlei@linkedin.com)
 *@

@() 

@main("Weekly Menu") {
	<section class="wrapper table wide tall">
		<section class="cell today-menu">
			<h1 class="section-title">Today's Menu<span class="current-date">Monday, February 20</span></h1>
			<header class="menu-info table">
				<div class="cell">
					<h3 class="caterer-name">Cosmo <span class="subdued">(Thai)</span></h2>
				</div>
				<div class="cell">
					<div data-tid="likeBar"></div>
				</div>
				<div class="cell">
					<div data-tid="commentBar" class="comment-bar"></div>
				</div>
			</header>
			<section class="table wide">
				<div class="category cell">
					<header class="category-info table">
						<img data-tid="categoryIcon" class="category-icon cell" src='@routes.Assets.at("images/ic-cater.png")' />
						<h2 data-tid="categoryName" class="category-name cell wide">Catering</h2>
					</header>
					<ul data-tid="caterFoodList" class="category-items">
						<li class="category-item table">
							<div class="cell">
								<input data-tid="upvoteBtn" type="button" class="img-button ic-upvote" />
								<div data-tid="ratingBall" class="item-rating"></div>
								<input data-tid="downvoteBtn" type="button" class="img-button ic-downvote" />
							</div>
							<div class="cell wide">
								<h1 data-tid="foodName" class="item-name">Steamed Mixed Veggies</h1>
								<div data-tid="review" class="votes-bar clearfix">
									<div class="num-upvotes float-left">
										<div class="icon ic-ups"></div>
										<label data-tid="numUpVotes" class="note">400</label>
									</div>
									<div class="num-downvotes float-left">
										<div class="icon ic-downs"></div>
										<label data-tid="numDownVotes" class="note">120</label>
									</div>
								</div>
							</div>
							<div class="cell">
								<ul data-tid="allergyList" class="allergy-list">
									<li class="allergy">V</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				<div class="category cell"></div>
				<div class="category cell"></div>
			</section>
			<hr />
			<section class="comment-list">
				<header>
					<h1 class="list-title">Comments
						<span class="num-comments">(<span data-tid="commentCount">40</span> comments)</span>
					</h1>
				</header>
				<form data-tid="commentForm" class="wide clearfix">
					<textarea class="input-field wide" placeholder="Enter your comment here:"></textarea>
					<input type="submit" class="btn float-right" value="Comment" />
				</form>
				<ul data-tid="commentList" class="comment-list">
					<li class="comment-item">
						<h1 class="comment-author">Posted by: <span data-tid="authorName" class="highlight">Bob</span></h1>
						<h2 data-tid="postDate" class="comment-date">20/10/2013</h2>
						<p data-tid="commentBody" class="comment-body">This is such an awesome caterer!!! More plx!</p>
						<hr class="divider" />
					</li>
				</ul>
			</section>
		</section>
		<section class="cell weekly-menu">
			<nav class="weekly-navigation">
				<h1 data-tid="weekTitle" class="week-title">This Week:</h1>
				<h2 data-tid="dateRange" class="week-date">20/2/2013 - 27/2/2013</h2>
				<input data-tid="weekChangeBtn" type="button" class="button" value="Next Week" />
			</nav>
			<ul data-id="weeklyMenuList" class="menu-items">
				<li class="menu-item">
					<header class="menu-header">
						<h1 class="menu-date">Monday <span class="subdued">14/2/2013</span></h1>
						<h2 class="caterer-name">Asian Cuisine <span class="subdued">Chinese</span></h2>
						<div class="caterer-info clearfix">
							<div data-tid="likeBar" class="float-left"></div>
							<a href="" class="fake-link"><span data-tid="numComments">10</span> comments</a>
						</div>
					</header>
					<h3 class="category-name">Daily Catering</h3>
					<ul class="category-list">
						<li class="menu-item table">
							<div class="cell">
								<div data-tid="ratingBall" class="item-rating"></div>
							</div>
							<div class="cell wide">
								<p data-tid="foodName">Food item 1</p>
							</div>
							<ul data-tid="allergyList" class="cell allergy-list">
								<li class="allergy"><span>V</span></li>
							</ul>
							<nav class="cell clearfix">
								<input data-tid="upvoteBtn" type="button" class="img-button ic-upvote float-left" />
								<input data-tid="downvoteBtn" type="button" class="img-button ic-downvote float-left" />
							</nav>
						</li>
					</ul>
				</li>
			</ul>
		</section>
	</section>
} {
	<link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main-page.css")'>
} {
	
}
