@orderin_main("Welcome to OrderIn") {
    
    <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">OrderIn</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="caterer">Home</a></li>
                            <li><a href="caterer-info">Info</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
    
} {
<!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>Hello, Cosmo!</h1>
        <p>Welcome to your dashboard! Here you can send in your menu for approval for your assigned   dates</p> 
    </div>
       
     <h2>You have been assigned to cater for the following dates:</h2>
     <div class="row" style="line-height:30px;">
        <div class="span6">
            <p>Wednesday, February 20th, 2013</p>
            <p>Thursday, February 28th, 2013</p>
        </div>
        <div class="span2 offset4"> 
            <p><a class="btn" href="caterer-menu">View Details</a></p>
            <p><a class="btn" href="caterer-menu">View Details</a></p>
        </div>  
    </div>
}
