@(foodType: String, caterer: String, numVotesCaterer: Int, numPositiveVotesCaterer: Int, numCommentsCaterer: Int, foodItemNames: Array[String], foodItemNumVotes: Array[Int], foodItemNumPositiveVotes: Array[Int], foodItemIDs: Array[Int])

	<div class="title">
		<table class="titleTable">
			<tr>
				<td>
					<div><text class="tname">@caterer</text></div>
					<div class="tbar">
					<div 
						style="width: @((numVotesCaterer) * 100 / numVotesCaterer)%;"
						class="redbar"></div>
					<div 
						style="width: @((numVotesCaterer) * 100 / numVotesCaterer)%;"
						class="greenbar"></div>
					</div>
					<div><text>@numVotesCaterer votes</text></div>
				</td>
				<td align="right">
					<div class="ticon"><text class="commentCount">@numCommentsCaterer</text></div>
				</td>
			</tr>
		</table>
	</div>	


	<table class="itemTable">

		@for(i <- 0 until foodItemNames.length){

			<tr>
				<td>
					<div class="itemBar" style="background:rgb(@((foodItemNumVotes(i) - foodItemNumPositiveVotes(i) ) * 255 / foodItemNumVotes(i)), @(foodItemNumVotes(i)  * 255 / foodItemNumVotes(i)), 0 )">&nbsp;</div>
				</td>
			<td>
				<div><text>@foodItemNames(i)</text></div>
				<div><text>@foodItemNumVotes(i) votes</text></div>	
			</td>
			<td>
				<img 
					src="@routes.Assets.at("images/up.png")"
					onmouseover="this.src='@routes.Assets.at("images/up2.png")'";
					onmouseout="this.src='@routes.Assets.at("images/up.png")'"
					onclick="location.href='up?id=@foodItemIDs(i)'">
			</td>
			<td>
				<img 
					src="@routes.Assets.at("images/down.png")"
					onmouseover="this.src='@routes.Assets.at("images/down2.png")'";
					onmouseout="this.src='@routes.Assets.at("images/down.png")'"
					onclick="location.href='down?id=@foodItemIDs(i)'">
			</td>
			</tr>

		}

	</table>