@() {
	<section class="today-menu">
		<h1 class="section-title">Today's Menu</h1>
		<header class="menu-info">
			<div class="table">
				<div class="cell">
					<h2 class="caterer-name">Cosmo <span class="subdued">(Thai)</span></h2>
					<h3 class="current-date">Monday, February 20</h3>
				</div>
				<div class="cell">
					<div id="tmLikeBar"></div>
					<div id="tmCommentBar"></div>
				</div>
			</div>
		</header>
		<section class="table">
			<div class="category cell">
				<header class="category-info">
					<img data-tid="categoryIcon" class="category-icon" src="" />
					<h2 data-tid="categoryName" class="category-name">Catering</h2>
				</header>
				<ul data-tid="caterFoodList" class="category-items">
					<li class="category-item table">
						<div class="cell">
							<div class="item-rating"></div>
						</div>
						<div class="cell wide">
							<div class="item-title">Steamed Mixed Veggies</div>
							<div data-tid="review" class="note">40 reviews</div>
						</div>
						<div class="cell">
							<div class="note">Allergens</div>
							<div class="note">(V)(G)</div>
						</div>
						<div class="cell">
							<input data-tid="upvote" type="button" class="icon ic-upvote" />
							<input data-tid="downvote" type="button" class="icon ic-downvote" />
						</div>
					</li>
				</ul>
			</div>
		</section>
	</section>
	<section class="weekly-menu">
		<ul id="weeklyMenuList" class="table menu-items">
			<li class="menu-item">
			</li>
		</ul>
	</section>
} {
	
} {
	
}
