@(daily: Html, veg: Html, indian: Html)

<!DOCTYPE html>
<html>

<script type="text/javascript" language="javascript">
	function changeImage(img){
		document.getElementById('bigImage').src=img;
	}
</script>


<head>
	<title>EatIn</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
</head>

<body>

	<div class="container">
	&nbsp;

	<div class="header">
		<img 
			class="logo"
			src="@routes.Assets.at("images/logo2.png")">
	</div>

	<div class="section group">
		<div id="daily" class="col span_1_of_3">
		@daily
		</div>
		<div id="vegetarian" class="col span_1_of_3">
		@veg
		</div>
		<div id="indian" class="col span_1_of_3">
		@indian
		</div>
	</div>


</body>

</html>

